beautifulsoup4==4.12.2
deep_translator==1.10.1
Flask==2.2.2
Flask_PyMongo==2.3.0
indic_transliteration==2.3.44
instagrapi==1.17.3
nltk==3.8.1
pandas==2.0.0
pymongo==4.3.3
python-dotenv==1.0.0
snscrape==0.6.2.20230320
spacy==3.5.2
vaderSentiment==3.3.2
